.hero{
  padding: 50px 0;
  margin-bottom: 30px;
  background-color: #F2F2F2;
}

.hero__form{
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__input{
  flex-grow: 1;
  display: flex;
  padding: 20px;
  outline: none;
  color: #373F68;
  border: none;
  background-color: transparent;
}

.hero__btn{
  display: flex;
  align-items: center;
  padding: 20px;
  color: #373F68;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-left: 2px solid #f2f2f2;
  transition: all ease 0.4s;

  &::before{
    margin-right: 10px;
    background-image: url(../../icon/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
    content: '';
  }

  &:hover{
    opacity: 0.5;
  }
}